<!doctype html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>平台培训老师</title>
</head>
<body th:fragment="content" >
        <!--content-->
        <div class="content teacher-info">
            <div class="plat-title">
                <h2>平台培训老师信息</h2>
                <p>—</p>
            </div>
            <div class="plat-teacher">
                <div class="teacher-box com-width clear" style="margin-top:40px;">             
                    <div class="plat-box fl" th:each="teacher:${teacherList}">
                        <a th:href="@{${ctx} + 'platform_teacher_detail?id=' + ${teacher.id}}">
                            <div class="teacher-img">
                                <img th:src="${imageUrl} + ${teacher.avator}" alt="">
                            </div>
                            <div class="teacher-desc">
                                <h3><span th:text="${teacher.name}"/></h3>
                                <p>教龄：<span th:text="${teacher.teachingAge}"/></p>
                                <img class="pic1" th:src="@{/img/index-pic2.png}"  alt="">
                                <img class="pic2" th:src="@{/img/index-pic2.1.png}" alt="">
                            </div>
                        </a>
                    </div>                   
                </div>
                 <div class="box clear">
                  <div id="pagination_platformteacher" class="page"></div>
                </div>
            </div>
        </div>
        <!-- --------------分页------------------- -->
<script> 
    $("#pagination_platformteacher").pagination({
        currentPage: [[${pageIndex}]],
        totalPage: [[${totalPage}]],
        isShow: false,
        count: [[${total}]],
        prevPageText: "<",
        nextPageText: ">",
        callback: function(current) {
            this.location.href ="[[${ctx}]]platform_teacher?pageIndex=" + current;
        }
    });

</script>
</body>
</html>