<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title></title>
	<script type="text/javascript" th:src="@{/js/rem.js}"></script>
    <link rel="stylesheet" href="css/h5/common.css" th:href="@{/css/h5/common.css}"/>
    <link rel="stylesheet" href="css/h5/style.css" th:href="@{/css/h5/style.css}"/>
</head>
<body>
	<div class="com-width">
		<div class="app_pic">
			<img th:src="@{/img/about_pic1.png}" alt="" />
		</div>
		<div class="app_desc">
			<p>
				自我介绍一下，“我的学车网”是上海安族电子科技有限公司与新疆复安信息技术有限公司合作研发的全新驾考服务平台。平台面向准驾驶人、驾校和公安交管部门提供全方位的信息资讯和业务服务。我们既引入了创新的服务理念和服务模式，又充分结合新疆本地实际情况，立志成为最接地气的、最懂您的驾考服务平台！
			</p>
		</div>
		<div class="app_line">
			<img th:src="@{/img/about_pic3.png}" alt="" />
		</div>
		<div class="app_main">
			<p style="text-indent:2em;padding-left:0;">如果您是经验丰富的教练，我们欢迎您加入平台成为课程讲师或VIP学员陪练，我们的培训网点遍布全市，还支持在线发布教学课程，多元化的收入体系会带给您丰厚的回报和足足的成就感！</p>
            <div class="app_title">
                <p>动心啦？赶快<a href="">&nbsp;“注册”&nbsp;</a>体验一下吧！</p>
            </div>
            <div class="app_title">
                <p>已经加入啦？<a href="">&nbsp;“登录”&nbsp;</a> 看看吧，也许又有人报名您的课程咯！</p>
            </div>
		</div>
	</div>
</body>
</html>
