<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title></title>
	<script type="text/javascript" th:src="@{/js/rem.js}"></script>
    <link rel="stylesheet" href="css/h5/common.css" th:href="@{/css/h5/common.css}"/>
    <link rel="stylesheet" href="css/h5/style.css" th:href="@{/css/h5/style.css}"/>
</head>
<body>
	<div class="com-width">
		<div class="app_pic">
			<img th:src="@{/img/about_pic1.png}" alt="" />
		</div>
		<div class="app_desc">
			<p>
				自我介绍一下，“我的学车网”是上海安族电子科技有限公司与新疆复安信息技术有限公司合作研发的全新驾考服务平台。平台面向准驾驶人、驾校和公安交管部门提供全方位的信息资讯和业务服务。我们既引入了创新的服务理念和服务模式，又充分结合新疆本地实际情况，立志成为最接地气的、最懂您的驾考服务平台！
			</p>
		</div>
		<div class="app_line">
			<img th:src="@{/img/about_pic3.png}" alt="" />
		</div>
		<div class="app_main">
			<p>我们为您准备了：</p>
			<div class="app_title">
                <img th:src="@{/img/about_pic2.png}" alt=""><span>01</span><b>随时随地进行考试练习的环境：</b>
                <p>通过网页或手机App（扫描页面下方二维码下载）都可以进行理论考试的自由练习或模拟考试，支持汉、维、哈、蒙四个语种，题库均为实时更新，只要您用心练习考试成绩一定棒棒哒！</p>
            </div>
            <div class="app_title">
                <img th:src="@{/img/about_pic2.png}" alt=""><span>02</span><b>可自由选择的各科目考试指导：</b>
                <p>我们在全市设置了多个培训网点，邀请了驾培经验丰富的教练，准备了丰富的在线课程和线下课程，课程内容绝对精品！如果您是忙碌的上班族，随时可以收看的在线课程很适合您，如果您可以自由安排时间，就来我们的培训网点与教练面对面吧，收获会更丰富哦！</p>
            </div>
            <div class="app_title">
                <img th:src="@{/img/about_pic2.png}" alt=""><span>03</span><b>真实全面的驾校信息：</b>
                <p>全市驾校那么多，到底哪家适合我？我们为您准备了真实全面的驾校信息，从位置到课程到价格再到学员评价，每一条信息都可以帮助您做出最佳选择！</p>
            </div>
            <div class="app_title">
                <img th:src="@{/img/about_pic2.png}" alt=""><span>04</span><b>VIP陪练服务：</b>
                <p>我的时间很有限，到驾校练车等不起，怎么办？别急，我们有专业教练带车陪练服务呢，根据您的时间来安排练车时间，还有贴心的接送服务，练车也可以很舒服！</p>
            </div>
            <div class="app_title">
                <p>看了这么多，是不是很动心啦？赶快<a href="">&nbsp;“注册”&nbsp;</a>一下开启你的学车之旅吧！</p>
            </div>
            <div class="app_title">
                <p>如果您已经成为我们的VIP会员，<a href="">&nbsp;“登录”&nbsp;</a> 开始练习吧！</p>
            </div>
		</div>
	</div>
</body>
</html>
