<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/lib/lui/css/layui.css}">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style type="text/css">
        .layui-table-box {
            min-height: 450px;
        }
    </style>
</head>
<body>
<fieldset class="layui-elem-field">
    <div class="site-text site-block">
        <div class="layui-row">
            <div class="layui-col-xs8">
                <div class="grid-demo grid-demo-bg1">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">驾照类型</label>
                            <div class="layui-input-block">
                                <input type="text" name="licenceType" id="licenceType" placeholder="驾照类型"
                                       class="layui-input">
                            </div>
                            <label class="layui-form-label">科目</label>
                            <div class="layui-input-block">
                                <select name="kemu" id="kemu" class="layui-select">
                                  <option value="0">ALL</option>
                                  <option value="1">科目一</option>
                                  <option value="2">科目二</option>
                                  <option value="3">科目三</option>
                                  <option value="4">科目四</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="grid-demo">
                    <div class="layui-input-block">
                        <button class="layui-btn" onclick="filter()">查询</button>
                        <button class="layui-btn" onclick="add()">新增</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<table id="appointmentTable" class="layui-table" lay-data="{cellMinWidth: 80, page: true, limit:20, url:'data'}" lay-filter="courseTable">
    <thead>
    <tr>
        <th lay-data="{field:'id',type:'checkbox'}">ID</th>
        <th lay-data="{field:'licenceType', width:120, sort: true}">驾照类型</th>
        <th lay-data="{field:'kemu', width:100, sort: true,templet:'#Tkemu'}">科目</th>
        <th lay-data="{field:'price', width:100, sort: true}">价格</th>
        <th lay-data="{field:'examPlaceId', width:100, sort: true,templet:'#TpayType'}">考场id</th>
        <th lay-data="{field:'start_time', width:120 ,templet:'#dateTpl'}">考试时间</th>
        <th lay-data="{field:'limitCount', width:100, sort: true,templet:'#TpayType'}">限制人数</th>
        <th lay-data="{field:'leftCount', width:100, sort: true,templet:'#TpayType'}">剩余人数</th>
        <th lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#operation'}"></th>
    </tr>
    </thead>
</table>
<script id="Tkemu" type="text/html">
				{{#  
			if(d.kemu == 1){ }}
			     <span>科目一</span>
 				 {{#   }
			else if(d.kemu == 2){ }}
			     <span>科目二</span>
 				 {{#   }
			else if(d.kemu== 3){ }}
			     <span>科目三</span>
 				 {{#   }
            else if(d.kemu== 4){ }}
			     <span>科目四</span>
 				 {{#   }
				}}
</script>
<script id="dateTpl" type="text/html">
    {{# var date = layui.util.toDateString(d.startTime, 'yyyy-MM-dd HH:mm:ss') }}
    <span>{{date}}</span>
</script>

<script id="operation" type="text/html">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
 
<script th:src="@{/lib/jquery/jquery.js}"></script>
<script th:src="@{/lib/lui/layui.all.js}"></script>

<script type="text/javascript">
    var table = layui.table;
    var layer = layui.layer;

    var iframeWin = null;

    function openWin(title,isShow,id){
        var url = 'ops/appointment/edit';
        if(!!id){
            url += "?id="+id;
            if(isShow){
                url += "&flag=2";
            } else{
                url += "&flag=1";
            }
        } else{
            url += "?flag=0";
        }
        var option = {
            type: 2,
            title:[title,"color:green"],
            success: function(layero, index){
                iframeWin = parent.window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
            },
            content: url,
            area:['800px','600px']
        };
        var btn = ['保存','关闭'];
        var okFun = function(){
            parent.layer.close(index);
        } ;
        if(isShow){
            btn = ['关闭']
        }
        if(btn.length > 1){
            okFun = function(){
                if(iframeWin != null){
                    iframeWin.doSave(function(){
                        parent.layer.close(index);
                        // 刷新table数据
                        table.reload("appointmentTable");
                    });
                }
            };
            option['btn2'] = function(){parent.layer.close(index);}
        }
        option['btn'] = btn;
        option['yes'] = okFun ;
        var index = parent.layer.open(option);
    }

    function add(){
        openWin("新增",false);
    }
    //table点击事件
    table.on("tool(courseTable)",function(obj){
        var data = obj.data;
        if(obj.event === 'detail'){
            openWin("详细",true,data.id);
        } else if(obj.event === 'del'){
            parent.layer.confirm('确定删除？', function(index){
                parent.layer.close(index);
                $.ajax("del?id="+data.id,{
                    method:"delete",
                   contentType:"application/json;charset=utf-8",
                   success:function(data){
                        if(data){
                            parent.tips(1, "删除成功！");
                            table.reload("appointmentTable");

                        }else{
                            parent.tips(0, "删除失败！");
                        }
                   },
                    error:function(e){
                        parent.tips(0, "删除失败！");
                    }
                });

            });
        } else if(obj.event === 'edit'){
            openWin("编辑",false,data.id);
        } 
    });

    function filter(){
        var kemu = $("#kemu").val();
        var licenceType = $("#licenceType").val();
        table.reload("appointmentTable",{
            where:{kemu:kemu,licenceType:licenceType}
        })
    }
</script>

</body>
</html>